

.background{ 
	-fx-background-color: #8fe2e9;
}



.myDialog{
    -fx-background-color: #dbdcdd;
}
.myDialog > *.button-bar > *.container{
	-fx-font-size: 14.0px;
    -fx-background-color: #dbdcdd;
}
.myDialog > *.label.content{
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: #061539;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 30.0 px;
    -fx-font-style: italic;
    -fx-text-fill: #FAFAFA;
}